* {
  box-sizing: border-box;
}

html,
body {
  margin: O;
  padding: 0;
}


/* navigatie */

.verticalmenu {
  position: fixed;
  top: 0;
  right: 0;
  box-sizing: border-box;
  display: block;
  width: 200px;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background: #59503F;
  line-height: 14px;
}

.verticalmenu>ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  text-align: right;
}

.verticalmenu>ul li {
  position: relative;
  display: block;
}

.verticalmenu>ul>li>a {
  display: block;
  padding: 15px 5px;
  font-weight: 400;
  text-transform: uppercase;
  color: #F3DBD5;
  text-decoration: none;
}

.verticalmenu a:hover {
  color: #D8C1BA;
}

.verticalmenu a.active {
  color: #BBA59E;
}


/* footer */

footer {
  clear: both;
  position: fixed;
  display: block;
  bottom: 0;
  width: 100%;
  height: 105px;
  color: #F3DBD5;
  background-color: #374256;
  padding: 10px;
  font-size: 16px;
  line-height: 12px;
  margin-top: 50px;
}

.disclaimer {
  color: #374256;
}

i {
  padding-right: 4px;
}

.link {
  color: #F3DBD5;
}

.link a.hover {
  color: #D8C1BA;
}

.link a.active {
  color: #BBA59E;
}


/* index */

body.home {
  background: url('../assets/images/patrooncaleido.svg') no-repeat fixed;
  background-size: cover;
  margin-top: 200px;
}

.header {
  top: 0;
}

.naamlogo {
  position: absolute;
  width: 40%;
  top: 40px;
  left: 40px;
}

.logo {
  position: absolute;
  width: 35%;
  height: 35%;
  top: 220px;
  right: 20px;
  z-index: 2;
}

.quote {
  padding: 30px;
  background: #F1C3CD;
  color: #59503F;
  text-align: center;
}

.logo_txt {
  padding: 30px;
  background: #DBEDE8;
  color: #59503F;
  text-align: center;
}

.naamlogoz {
  position: relative;
  width: 40%;
  top: 40px;
  left: 40px;
  padding-bottom: 40px;
}


/* titel */

.titel {
  position: relative;
  padding: 30px;
  background: #59503F;
  color: #DBEDE8;
}

.ondertitel {
  position: relative;
  padding: 30px;
  background: #59503F;
  color: #DBEDE8;
}


/* diensten */

.tekstvak {
  padding: 40px;
  background: #DBEDE8;
  color: #59503F;
}


/* over ons */

.tekstoverons {
  width: 60%;
  padding: 30px;
  margin-top: 20px;
  background: #DBEDE8;
  color: #59503F;
}

.fototeam {
  opacity: 1;
  display: block;
  width: 180px;
  height: 180px;
  background: 50% 50% no-repeat;
  transition: .5s ease;
  backface-visibility: hidden;
}

.midden {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.cfototeam:hover .fototeam {
  opacity: 0.5;
}

.cfototeam:hover .midden {
  opacity: 1;
}

.naam {
  background-color: #DBEDE8;
  color: #59503F;
  padding: 15px;
}

.teamoverons {
  background: #DBEDE8;
  color: #59503F;
  width: 180px;
  height: 200px;
  padding: 15px;
}

.bruin {
  color: #59503F;
  padding-left: 10px;
  padding-right: 10px;
}


/* portfolio */

.portfolio {
  width: 66.6666%;
  height: auto;
  border: 5px solid #DBEDE8;
  margin: 40px;
}

.portfolio-item {
  width: 200px;
  height: auto;
}


/* contact */

.contactblok {
  position: relative;
  padding: 20px;
  background-color: #DBEDE8;
  color: #59503F;
}

.contacttekst {
  padding-left: 40px;
}

table {
  padding-left: 40px;
}

form {
  padding: 30px;
  margin: 0px 0px 0px 5px;
  overflow: hidden;
  height: auto;
  background: #DBEDE8;
  width: 500px;
}

input {
  width: 250px;
  margin: 5px 0px 5px 0px;
  display: inline-block;
  background-color: #59503F;
  padding: 12px 15px;
  color: #DBEDE8;
  border: none;
}

#icon {
  display: inline-block;
  text-align: center;
  width: 50px;
  background-color: #59503F;
  padding: 8px;
  color: #DBEDE8;
}

textarea.opmerking {
  resize: none;
  margin: 5px 0px 5px 0px;
  display: block;
  width: 440px;
  height: 150px;
  background-color: #59503F;
  color: #DBEDE8;
  padding: 12px 15px;
}

.button {
  outline: none;
  background-color: #59503F;
  color: #DBEDE8;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #3F382D;
  padding: 10px;
}

.button:hover {
  text-decoration: none;
  background-color: #3F382D;
}

.button:active {
  background-color: #BECCC8;
  border-bottom-color: #B4BFBB;
  color: #59503F;
}

.e-mailcontact {
  color: #59503F;
  padding-left: 40px;
}