/* navigatie */

.verticalmenu {
    position: fixed;
    top: 0;
    right:0;
    box-sizing: border-box;
    display: block;
    width: 200px;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background: #59503F;
    line-height: 17px;
}
.verticalmenu > ul {
    list-style:none;
    margin:0;
    padding:10px;
    text-align: right;
    background: #59503F;
    height: 100%;
    position: fixed;
    overflow: auto;
}
.verticalmenu > ul li {
    position: relative;
    display: block;
}
.verticalmenu > ul > li > a {
    display: block;
    padding: 15px 5px;
    font-weight:400;
    text-transform: uppercase;
    color:#F3DBD5;
    text-decoration: none;
}
.verticalmenu a:hover {
    color: #D8C1BA;
}
.verticalmenu a.active {
    color: #BBA59E;
}

/* Kleuren */
.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}
.clearfix::after {
    clear: both;
}
.colours__colour {
    float:left;
    height:6rem;
    width:6rem;
}
.colours__colour--a {
    background-color: #f1c3cd;
}
.colours__colour--b {
    background-color: #374255;
}
.colours__colour--c {
    background-color: #dbede8;
}
.colours__colour--d {
    background-color: #59503f;
}
.colours__colour--e {
    background-color: #f4dbd5;
}
code {
    color: #fff;
}

/* Typografie */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
h1,
h2,
h3,
h4,
h5,
h6,
{
    font-family:'Montserrat', sans-serif;
}
p {
    font-family: 'Playfair Display', serif;
    line-height: 1.3;
}

/* Hyperlinks */
a,
a:visited {
    color: #f4dbd5;
    text-decoration: none;
}
a:hover {
    color: #D8C1BA;
    text-decoration: underline;
}

/* Iconen */
i {
    color:#f4dbd5;
}
i:hover {
    color:#D8C1BA;
}

/* Knoppen */
.button {
  outline: none;
  background-color: #DBEDE8;
  color:#59503F;
  border: none;
  border-radius:5px;
  box-shadow: 0 9px #BECCC8;
  padding: 10px;
  margin-bottom:10px;
}
.button:hover {
    text-decoration: none;
    background-color:#D1E0DC;
}
.button:active {
    background-color:#BECCC8;
    border-bottom-color:#B4BFBB;
    color:#59503F;
}
/* Patronen */
.patterns__pattern {
    background-color: #fff;
    height: 6rem;
    width: 6rem;
    margin-right: 1rem;
}
.patterns__pattern {
   overflow: hidden;
}

.patterns__pattern img {
    width: 100%;
    height: auto;
}

.patterns__pattern--a {
    background-image: img src="assets/images/logostudiocaleido.svg";
    background-size: 15rem, 15rem;
}
.patterns__pattern--b {
    background-image: img src="assets/images/naamlogostudio.svg";
    background-size: 15rem, 15rem;
}

/* form */

form {
    padding: 30px;
    margin: 0px 0px 0px 5px;
    overflow: hidden;
    height: auto;
    background:#DBEDE8;
    width: 500px;
}
input {
  width: 250px;
  margin: 5px 0px 5px 0px;
  display: inline-block;
  background-color: #59503F;
  padding: 12px 15px;
  color:#DBEDE8;
  border: none;
}

textarea.opmerking {
  resize: none;
  margin: 5px 0px 5px 0px;
  display: block;
  width: 440px;
  height: 150px;
  background-color: #59503F;
  padding: 12px 15px;
}
/* footer */
footer {
  position: fixed;
  display: block;
  bottom:0;
  width:100%;
  height: 7em;
  color: #F3DBD5;
  background-color: #374256;
  padding: 1rem;
  font-size: 16px;
  line-height: 12px;
}
.e-mail {
  color: #F3DBD5;
}
.e-mail a.hover {
  color:#D8C1BA;
}
.e-mail a.active {
  color: #BBA59E;
}
i {
    padding-right:4px;
}
.footerimg {
    width:50px;
    height:50px;
}
