/* navigatie */

.verticalmenu {
  position: fixed;
  top: 0;
  right: 0;
  box-sizing: border-box;
  display: block;
  width: 200px;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background: #59503F;
  line-height: 14px;
}

.verticalmenu>ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  text-align: right;
}

.verticalmenu>ul li {
  position: relative;
  display: block;
}

.verticalmenu>ul>li>a {
  display: block;
  padding: 15px 5px;
  font-weight: 400;
  text-transform: uppercase;
  color: #F3DBD5;
  text-decoration: none;
}

.verticalmenu a:hover {
  color: #D8C1BA;
}

.verticalmenu a.active {
  color: #BBA59E;
}


/* footer */

footer {
  clear: both;
  position: fixed;
  display: block;
  bottom: 0;
  width: 100%;
  height: 105px;
  color: #F3DBD5;
  background-color: #374256;
  padding: 10px;
  font-size: 16px;
  line-height: 12px;
  margin-top: 50px;
}

.disclaimer {
  color: #374256;
}

i {
  padding-right: 4px;
}

.link {
  color: #F3DBD5;
}

.link a.hover {
  color: #D8C1BA;
}

.link a.active {
  color: #BBA59E;
}

/* Kleuren */

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

.colours__colour {
    float: left;
    height: 6rem;
    width: 6rem;
}

.colours__colour--a {
    background-color: #f1c3cd;
}

.colours__colour--b {
    background-color: #374255;
}

.colours__colour--c {
    background-color: #dbede8;
}

.colours__colour--d {
    background-color: #59503f;
}

.colours__colour--e {
    background-color: #f4dbd5;
}

code {
    color: #fff;
}


/* Typografie */

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
h1,
h2,
h3,
h4,
h5,
h6,
{
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Playfair Display', serif;
    line-height: 1.3;
}

/* titel */
.titel {
  position: relative;
  padding: 30px;
  background: #59503F;
  color: #DBEDE8;
}
.ondertitel {
  position: relative;
  padding: 30px;
  background: #59503F;
  color: #DBEDE8;
}

/* tekst */
.tekst {
  width: 100%;
  padding: 30px;
  margin-top: 20px;
  background:#DBEDE8;
  color:#59503F;
}

/* Hyperlinks */
a,
a:visited {
    color: #f4dbd5;
    text-decoration: none;
}

a:hover {
    color: #D8C1BA;
    text-decoration: underline;
}


/* Iconen */
i {
    color: #f4dbd5;
}

i:hover {
    color: #D8C1BA;
}


/* Knoppen */
.button {
    outline: none;
    background-color: #59503F;
    color: #DBEDE8;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #3F382D;
    padding: 10px;
    margin-bottom: 10px;
}

.button:hover {
    text-decoration: none;
    background-color: #3F382D;
}

.button:active {
    background-color: #BECCC8;
    border-bottom-color: #B4BFBB;
    color: #59503F;
}


/* Patronen */
.patterns__pattern {
    height: 120px;
    width: 120px;
    margin: 0px 10px 10px 0px;
}

.patterns__pattern {
    overflow: hidden;
}

.patterns__pattern img {
    width: 100%;
    height: auto;
}

.patterns__pattern--a {
    background-image: url("../assets/images/logostudiocaleido.svg");
    background-repeat: no-repeat;
}

.patterns__pattern--b {
    background-image: url("../assets/images/naamlogostudio.svg");
    background-repeat: no-repeat;
}


/* form */

form {
    padding: 30px;
    margin: 0px 0px 0px 5px;
    overflow: hidden;
    height: auto;
    background: #DBEDE8;
    width: 500px;
}

input {
    width: 250px;
    margin: 5px 0px 5px 0px;
    display: inline-block;
    background-color: #59503F;
    padding: 12px 15px;
    color: #DBEDE8;
    border: none;
}

textarea.opmerking {
    resize: none;
    margin: 5px 0px 5px 0px;
    display: block;
    width: 440px;
    height: 150px;
    background-color: #59503F;
    padding: 12px 15px;
}

/* patroon */
.patroon {
    width:50%;
}